<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	
	
	<form style="display: grid;grid-auto-columns:90px 150px ;grid-gap: 8px;justify-content:center;margin: 0;" method="post">
	<% if(locals.error) { %>
	    <p id="error" style="color:red;grid-column: span 2;">Password is Incorrect</p>
	    <script type="text/javascript">
	    	const error = document.getElementById('error')
	    	setTimeout(()=>{
             error.innerHTML = ""
	    	},2000)
	    </script>
	<% } %>
    <h3 style="grid-column: span 2;">Enter Password to Download</h3>
    <label for="Password">Password</label>
    <input type="password" name="password" id="Password">
    <input type="submit" name="" value="Download" style="grid-column: span 2;">
    </form>
    
</body>
</html>